@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
}

.search {
  background: url("./images/pattern-bg.png") no-repeat center;
  background-size: cover;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  margin-top: 2em;
  color: #fff;

  font-weight: 500;
  font-size: 3rem;
}

form {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
}

input {
  width: 45%;
  padding: 1.4em;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  border: none;
}

input::placeholder {
  font-size: 1.5rem;
  opacity: 0.7;
}

button {
  padding: 0 1.2em;
  background: black;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  cursor: pointer;
}

.details {
  width: 52%;
  position: relative;
  display: flex;
  background: #fff;
  border-radius: 2em;
  bottom: -9em;
  padding: 4em;
  justify-content: space-between;
  z-index: 1000;
  /* transform: translateY(-25%); */
}

.detail:not(:first-child) {
  border-left: 1px solid hsla(0, 0%, 59%, 0.39);
  padding-left: 2.5em;
}

h2 {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.3rem;
}

p {
  font-size: 2.3rem;
  margin-top: 0.5em;
  font-weight: 500;
}

.map {
  height: 65%;
}

@media screen and (max-width: 900px) {
  .details {
    flex-direction: column;
    text-align: center;
    padding: 2em;
  }

  input {
    width: 100%;
  }

  .detail:not(:first-child) {
    border: none;
    padding-left: 0;
  }

  p {
    margin-top: 0;
  }

  h2 {
    margin-top: 1.5em;
  }
}
